 #links{
height: 600px;
width: 250px;
}
#containerNews{
height: 730px;
width: 750px;
}
#trends{
background-color: cornflowerblue;
height: 600px;
width: 250px;
} 
.divInfo{
    padding-left: 50px;
}
.name{
    color: crimson;
}