 #links{
height: 600px;
width: 250px;
}
#containerNews{
height: 730px;
width: 750px;
}
#trends{
background-color: cornflowerblue;
height: 600px;
width: 250px;
} 
.divInfo{
    padding-left: 50px;
}
.nameUser{
    font-weight:bold;
    font-size: 20px;
}
.email{
    font-weight:normal;
    color: grey;
}
.titlePost{
    font-weight:600;
}
ul{
   list-style-type: none;
}
.liLeft{
    padding-left: 50px;
}
a{
    text-decoration: none;
}
.links{
    padding-left: 18px;
}